<!DOCTYPE html>
<html lang="en">
<head>  
    <title>Inteligentny Termostat</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
  <style>
    body {
      background-image: url('https://wallpaperaccess.com/full/2920297.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    </style>
  <div class="container">
    <div class="columns col-gapless">
      <div class="column col-2"></div>
      <div class="column col-8">
        <header class="navbar bg-dark">
          <section class="navbar-section">
            <a href="/index" class="navbar-brand mr-2 text-gray">Strona Główna</a>
            <a href="..." class="btn btn-link text-gray">Docs</a>
            <a href="..." class="btn btn-link text-gray">GitHu2b</a>
          </section>
          <section class="navbar-center">
            <a href="/hello" class="btn btn-link">GitHub</a>
          </section>
          <section class="navbar-section">
            <a href="..." class="btn btn-link text-gray">Logout</a>
          </section>
        </header>
        <div class="hero">
        <div class="hero-body">
          <h1>Inteligentny termostat</h1>
          <p>Strona do zarządzania termostatem połączonym z esp32</p>
        </div>
        </div>
        <div class="hero">
          <div class="hero-body">
            <h1>Inteligentny termostat</h1>
            <p>Strona do zarządzania termostatem połączonym z esp32</p>
          </div>
          </div>
      </div> 
      <div class="column col-2"></div> 
    </div>
  </div> 
  <div class="container bg-dark text-gray"> <br> </div>
  </body>
  </html>