{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="columns col-gapless">
    <div class="column col-2 hide-sm col-md-1"></div>
    <div class="column col-8 col-sm-12 col-md-10">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          {% if message=="You don't have permission to change this setting" %}
          <div class="toast toast-warning">
            {{ message }}
          </div>
          {% else %}
          <div class="toast toast-success">
            {{ message }}
          </div>
          {% endif %}
          {% endfor %}                  
      </ul>
      {% endif %}
      {% endwith %}
  </div>
  <div class="column col-2 hide-sm col-md-1"></div>
</div>
</div> 
<div class="container">
  <div class="columns col-gapless">
    <div class="column col-3 hide-sm col-md-1"></div>
    <div class="column col-6 col-sm-12 col-md-10">
         <div class="hero hero-sm">
        <div class="hero-body">
          <h1>Ustaw temperaturę</h1>
          <div class="form-group">
            <form action="" method="post" novalidate>
              {{ form.hidden_tag() }}
              <p>{{ form.temp() }}  {{ form.submit() }}</p>
            </form> 
          
          </div>             
                     
        </div>
        </div>
        <div class="hero hero-sm">
          <div class="hero-body">
            <h1>Rejestr zmian temperatury</h1>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th><h4> Kiedy </h4></th>
                  <th><h4>Ile</h4></th>
                  <th><h4>Kto</h4></th>

                </tr>
              </thead>
              <tbody>
                {% for item in changes %}
                <tr>
                  <td>{{ item[0] }}</td>
                  <td>{{ item[1] }}</td>
                  <td>{{ item[2] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            

          </div>
          </div>
      </div> 
      

      <div class="column col-3 hide-sm col-md-1"></div>
  </div> 
  {% endblock %}