<!DOCTYPE html>
<html lang="en">
<head>  
    <title>Inteligentny Termostat</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
  <style>
    body {
      background-image: url('https://wallpaperaccess.com/full/2920297.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    </style>
  <div class="container">
    <div class="columns col-gapless">
      <div class="column col-2"></div>
      <div class="column col-8">
        <header class="navbar bg-dark">
          <section class="navbar-section">
            <a href="/index" class="navbar-brand mr-2 text-gray">Strona Główna</a>
            <a href="/login" class="btn btn-link text-gray">login</a>
            <a href="/settemp" class="btn btn-link text-gray">set temp</a>
          </section>
          <section class="navbar-center">

          </section>
          <section class="navbar-section">
            <a href="/logout" class="btn btn-link text-gray">Logout</a>
          </section>
        </header>
         <div class="hero">
        <div class="hero-body">
          <h1>Set temp</h1>
          <form action="" method="post" novalidate>
              {{ form.hidden_tag() }}
              <p>{{ form.temp() }}</p>
              <p>{{ form.submit() }}</p>
          </form>          
        </div>
        </div>
        <div class="hero">
          <div class="hero-body">
            <hr>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
          </div>
          </div>
      </div> 
      <div class="column col-2"></div> 
    </div>
  </div> 
  <div class="container bg-dark text-gray"> <br> </div>
  </body>
  </html>